<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <form action="/actualizar_venta/{{venta[0]}}" method="POST">
            <input type="text" name="idventas" placeholder="idventas" value="{{ venta[0] }}">
            <input type="text" name="tipoventa" placeholder="tipoventa" value="{{ venta[1] }}">
            <input type="text" name="idempleados" placeholder="idempleados" value="{{ venta[2] }}">
            <input type="text" name="fecha" placeholder="fecha" value="{{ venta[3] }}">
            <input type="text" name="productos" placeholder="productos" value="{{ venta[4] }}">
            <button type="submit">Guardar</button>
        </form>
    </body>
</html>